pandas
numpy
polars
black
torch
ipykernel
ipywidgets
pathlib
seaborn
dill
optuna
deap
pandas-datareader
scikit-learn
mlflow
pyyaml
tiktoken
transformers
faiss-cpu
datasets
retro-pytorch
sacremoses
newspaper3k